## 관련 사이트 자료 
https://docs.python.org/3/library/sqlite3.html
- SQLite3는 DB-API 2.0 스펙을 따르는 인터페이스를 제공하는 pysqlite 모듈로 작성됨. 
- 이 모듈은 파이썬 배포판에 기본적으로 포함되어 있음.

In [ ]:
%ls # 현재 디렉토리 정보 확인

In [2]:
import sqlite3  #slqlite3 모듈 import

In [3]:
#con = sqlite3.connect(":memory:") # 메모리상에 DB 파일 생성.
con = sqlite3.connect("test1.db", timeout=1) # disk상에 test1.db 파일 생성
cur = con.cursor()
try:
    cur.execute("CREATE TABLE IF NOT EXISTS phoneBook (Name text, PhoneNum test);")
    cur.execute("INSERT INTO phoneBook  VALUES ('Bear', '010-4442-5348');")
except sqlite3.OperationalError:
    cur.execute("DROP TABLE phoneBook;")
    cur.execute("CREATE TABLE IF NOT EXISTS phoneBook (Name text, PhoneNum test);")
    
cur.close()
con.close()

## 1. Data 입력

In [4]:
try:
    with sqlite3.connect("./test1.db") as conn:
        cur= conn.cursor()
        cur.execute("INSERT INTO phoneBook  VALUES ('Bear1', '010-4442-5348');")
except sqlite3.OperationalError:
    print("database Errror!!")

In [5]:
try:
    with sqlite3.connect("./test1.db") as conn:
        cur= conn.cursor()
        
        name = "진석"
        phonenum = '010-2332-3333'
        cur.execute("INSERT INTO phoneBook  VALUES (?,?);", (name, phonenum))
except sqlite3.OperationalError:
    print("database Errror!!")

In [6]:
try:
    with sqlite3.connect("./test1.db") as conn:
        cur= conn.cursor()
        datalist = (('Tom','010-9999-2222'), ('John','010-3930-3039'))
        cur.executemany("INSERT INTO phoneBook  VALUES (?,?);", datalist)
except sqlite3.OperationalError:
    print("database Errror!!")

## 2. 레코드 조회

In [7]:
try:
    with sqlite3.connect("./test1.db") as conn:
        cur= conn.cursor()
        cur.execute("SELECT * FROM phoneBook;")
        for row in cur:
            print(row)
except sqlite3.OperationalError:
    print("database Errror!!")

('Bear1', '010-4442-5348')
('진석', '010-2332-3333')
('Tom', '010-9999-2222')
('John', '010-3930-3039')

In [8]:
try:
    with sqlite3.connect("./test1.db") as conn:
        cur= conn.cursor()
        cur.execute("SELECT * FROM phoneBook;")
        print(cur.fetchone())   # 조회된 결과 집합으로부터 한 개의 row 객체를 반환함.
        print(cur.fetchmany(2)) # 조회된 결과 집합에서 n개 만큼 Row를 리스트 형태로 반환함.
except sqlite3.OperationalError:
    print("database Errror!!")

('Bear1', '010-4442-5348')
[('진석', '010-2332-3333'), ('Tom', '010-9999-2222')]

In [9]:
try:
    with sqlite3.connect("./test1.db") as conn:
        cur= conn.cursor()
        cur.execute("SELECT * FROM phoneBook;")
        print(cur.fetchone())   # 조회된 결과 집합으로부터 한 개의 row 객체를 반환함.
        print(cur.fetchall())   # 조회된 결과의 모든 Row를 리스트 형태로 반환함.
except sqlite3.OperationalError:
    print("database Errror!!")

('Bear1', '010-4442-5348')
[('진석', '010-2332-3333'), ('Tom', '010-9999-2222'), ('John', '010-3930-3039')]

## 3. 레코드 정렬과 사용자 정렬 함수

In [12]:
try:
    with sqlite3.connect("./test1.db") as conn:
        cur= conn.cursor()
        cur.execute("SELECT * FROM phoneBook ORDER BY name DESC;")
        print(cur.fetchone())   # 조회된 결과 집합으로부터 한 개의 row 객체를 반환함.
        print(cur.fetchall())   # 조회된 결과의 모든 Row를 리스트 형태로 반환함.
except sqlite3.OperationalError:
    print("database Errror!!")

('진석', '010-2332-3333')
[('eee', '010-1234-0000'), ('ddd', '010-8888-9999'), ('ccc', '010-6666-7777'), ('bbb', '010-4444-5555'), ('aaa', '010-222-333'), ('Tom', '010-9999-2222'), ('John', '010-3930-3039'), ('Bear1', '010-4442-5348')]

## 4. 트랜잭션 처리

In [11]:
try:
    persons = [('aaa','010-222-333'),('bbb','010-4444-5555'),('ccc','010-6666-7777'),('ddd','010-8888-9999'),('eee','010-1234-0000')]
    conn = sqlite3.connect("./test1.db")
    conn.isolation_level = 'EXCLUSIVE'
    conn.execute('BEGIN EXCLUSIVE') #“DEFERRED”, “IMMEDIATE” or “EXCLUSIVE” or autocommit mode : None
    # start
    conn.executemany("INSERT INTO phoneBook  VALUES (?,?);", persons)
    # end
    conn.commit()
    conn.close()
except sqlite3.OperationalError:
    print("database Errror!!")